---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<p>
  With a strong commitment to teaching and student development, I have devoted substantial effort to undergraduate education. My courses have consistently received high ratings on student course-selection platforms and have earned <strong>eight A0/A1 teaching evaluations</strong> in the university’s formal teaching assessment system. I also serve as the <strong>deputy head of the Data Structures teaching group</strong>. My contributions to teaching and mentoring have been recognized with honors including the <strong>“Jiahe” Outstanding Teaching Award</strong>, the distinction of “Chair of Undergraduate Public Fundamental Courses”, <strong>Shanghai Jiao Tong University’s “Kaiyuan” Top Ten Teacher Award</strong>, and the <strong>Shanghai Jiao Tong University Outstanding Class Advisor Award</strong>.
</p>

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
